.wrapper {
  @apply mt-9 bg-white py-[50px] px-[78px] w-[100%] rounded-[20px];
  .avatar {
    img {
      @apply w-[126px] h-[125px] rounded-full cursor-pointer;
      @apply object-cover;
    }
  }

  .titles {
    @apply flex justify-between items-center;
    .name {
      @apply text-4xl font-light;
    }
  }
  .form {
    @apply mt-8 flex flex-col flex-wrap;
    h3 {
      @apply text-3xl font-medium mb-5;
    }
    input {
      @apply outline-none text-sm max-h-[46px]  py-[12px] pl-5 w-[100%];
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .red {
      @apply border-red-400;
    }
    h5 {
      @apply text-xs mb-1;
    }
    .template {
      @apply flex justify-between gap-x-6 mt-5;
    }
    label {
      @apply flex-1;
    }
  }
  .button {
    @apply flex justify-between items-center mt-10 gap-x-6;
    button {
      @apply text-black bg-main rounded-[10px] w-[100%] py-2.5;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    div {
      @apply w-[100%];
    }
  }
}

@media (max-width: 834px) {
  .wrapper {
    @apply mt-5 py-10;
    .avatar {
      img {
        @apply w-[85px] h-[84px];
      }
    }
    .titles {
      @apply justify-start gap-x-6;
      .name {
        @apply text-xl;
      }
    }
    .form {
      h3 {
        @apply font-medium text-base;
      }
      input {
        @apply text-xs leading-none py-1 mt-2 h-[27px];
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.6);
      }

      .template {
        @apply flex-col mt-0;
        label {
        }
      }
      label {
        @apply mt-5;
      }
      h5 {
        @apply text-sm leading-none;
      }
    }
    .custom-select {
      select {
        @apply min-h-[27px] py-1;
      }
      .select-button {
        @apply min-h-[27px] py-1;
      }
      .select-dropdown li label {
        @apply py-1;
      }
      .select-dropdown li input {
        @apply text-sm;
      }
      .select-dropdown li label {
        @apply mt-0 overflow-y-hidden;
      }
    }
    .button {
      @apply mt-[30px] gap-x-0;

      div {
        width: 0;
      }
      button {
        @apply shadow-none text-[13px] font-medium h-[27px] py-0;
      }
    }
  }
}

@media (max-width: 464px) {
  .wrapper {
    @apply px-[43px];
    .form {
      label {
        @apply mt-2.5;
      }
    }
  }
}
@media (max-width: 395px) {
  .wrapper {
    .titles {
      @apply gap-x-1;
    }
  }
}
@media (max-width: 375px) {
  .wrapper {
    @apply px-[30px];
    .form {
      label {
        @apply mt-1;
      }
    }
    .avatar {
      @apply flex-auto;
      img {
        @apply w-[60px] h-[59px];
      }
    }
  }
}

.custom-select {
  @apply w-[100%] relative;
  select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    // padding: 0.675em 6em 0.675em 1em;
  }
}
.select-button {
  width: 100%;
  font-size: 1.15rem;
  cursor: pointer;
  @apply block text-xs leading-none min-h-[45.6px] cursor-pointer outline-none px-5;
  // color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-value {
  text-align: left;
}
.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}
.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  max-height: 200px;
  transition: 0.5s ease;
}
.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  @apply bg-black text-white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.select-dropdown input {
  @apply cursor-pointer;
}
.select-dropdown input[type='radio'] {
  position: absolute;
  left: 0;
  opacity: 0;
}
