@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:root {
  height: 100%;
}

body {
  @apply bg-black;
}
@layer utilities {
  .max-width-auto {
    @apply max-w-primary mx-auto px-4;
  }
}
input[type='time']#time-input-create-how::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  -webkit-appearance: none;
}
input[type='time']#time-input-edit::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  -webkit-appearance: none;
}
input[value='0000-00-00']#date-input-create::-webkit-datetime-edit {
  color: transparent;
}
input[type='date']#date-input-create::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
input[type='date']#date-input-edit::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
