.wrapper {
  @apply w-[100%] bg-white pt-[50px] pb-[62px] px-[78px] rounded-[20px] mt-20;
  .title {
    @apply text-[32px] font-medium leading-none;
  }
  .form {
    @apply mt-14 flex flex-col gap-y-5;
  }
  .container {
    @apply w-[100%] flex items-center justify-between gap-6;
    label {
      @apply flex-1 flex items-center justify-center relative;
    }
  }

  textarea {
    @apply w-[100%] resize-none min-h-[138px] py-[15px];
  }
  input {
    @apply py-3 w-[100%];
  }
  textarea,
  input {
    @apply rounded-[10px] px-6 text-sm  placeholder:text-black placeholder:text-opacity-50 outline-none;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .red {
    @apply border-red-300;
  }
  .buttons {
    @apply mt-7 flex justify-between gap-6;
    .button {
      @apply flex-1 rounded-[10px] text-xl py-2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      &:last-child {
        @apply bg-main;
      }
      &:first-child {
        @apply bg-[#B4B4B4];
      }
    }
  }
}

@media (max-width: 834px) {
  .wrapper {
    @apply py-10 mt-12;
    .helper {
      @apply mx-auto max-w-[490px];
    }
    .title {
      @apply text-base;
    }
    .form {
      @apply mt-5 gap-y-2.5;
    }
    .container {
      @apply gap-1.5;
    }
    textarea {
      @apply min-h-[72px];
    }
    .buttons {
      @apply gap-x-1.5;
      .button {
        @apply text-xs leading-none;
      }
    }
    input,
    textarea {
      @apply py-1.5 text-xs;
      border: 1px solid rgba(0, 0, 0, 0.6);
    }
    .datepicker-toggle {
      top: 25%;
      width: 15px;
      height: 15px;
    }
    .timepicker-toggle {
      top: 25%;
      width: 15px;
      height: 15px;
    }
  }
}
@media (max-width: 596px) {
  .wrapper {
    @apply px-[43px];
  }
}
@media (max-width: 390px) {
  .wrapper {
    @apply px-[23px];
  }
}

.datepicker-toggle {
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 30%;
  width: 20px;
  height: 20px;
}
.datepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/image/calendar.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.timepicker-toggle {
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 30%;
  width: 20px;
  height: 20px;
}
.timepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/image/time.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.timepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.timepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
